* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #333;
}

/* link styles */

a {
    text-decoration: none;
    color: #222;
    font-weight: 600; /* 기본 굵기는 400 */
}

a:hover {
    color: #666;
}

/* input styles */

button,
input,
textarea {
  padding: 0.625rem;
  outline: none;
  border: 1px solid #ccc;
}

input,
textarea {
  width: 100%;
}

/* label styles */
label {
  padding: 0.312rem 0 0.312rem 0.625rem;
}

/* wrapper styles */

.detail-wrapper > .grid {
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: repeat(6, 1.75rem) 20rem 1fr;
  row-gap: 0.625rem;
}

.detail-wrapper > .grid > label + div {
  padding: 0.315rem;
}

.member-regist-wrapper {
    width: 70%;
    min-width: 31.25rem;
    margin: 0 auto;
}

/* 로그인 style */
.login-status-wrapper {
	padding: 0.625rem;
}

.login-status-wrapper > ul {
	margin: 0;
	padding: 0;
	display: flex;
	gap: 0.315rem;
	list-style-type: none;
	justify-content: flex-end;
}

/* 마이페이지 style */
.my-page-wrapper {
	width: 70%;
	min-width: 31.25rem;
	margin: 0 auto;
}

.my-page-wrapper > .my-page-content-wrapper {
	display:flex;
}

.my-page-wrapper > .my-page-content-wrapper > .aside-menu {
	display: flex;
	flex-direction: column;
	
	flex-basis: 12.5rem;
	flex-shrink: 1;
	flex-grow: 0;
	margin: 0;
	padding: 0;
	list-style-type: none;
	gap: 0.625rem;
}

.my-page-wrapper > .my-page-content-wrapper > .aside-menu > .delete-me {
	margin-top: 2rem;
}

.my-page-wrapper > .my-page-content-wrapper > .aside-menu > .delete-me > a {
    color: #aaa;
}

.my-page-wrapper > .my-page-content-wrapper > .content {
	flex-grow: 1;
	padding: 0.625rem;
	border: 1px solid #eee;
	
	display: grid;
	grid-template-columns: 12rem 1fr;
	grid-template-rows: repeat(5, 2rem);
}

/* 댓글 reply style */
.reply-list-wrapper {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.reply-list-wrapper > li{
    padding: 0.625rem;
}

.reply-list-wrapper > li:hover{
    background-color: #eee;
}

.reply-list-wrapper .reply-item-writer{
    display: flex;
    gap:0.625rem;
}

.reply-list-wrapper .reply-item-writer > span:first-child{
    flex-grow: 1;
    font-weight: 700;
}   

.reply-list-wrapper .reply-item-content {
	padding: 0.625rem;
}

.reply-list-wrapper .reply-item-actions {
	display: flex;
	gap: 0.625rem;
}

.reply-list-wrapper .reply-item-actions > .reply-item-modify,
.reply-list-wrapper .reply-item-actions > .reply-item-delete,
.reply-list-wrapper .reply-item-actions > .reply-item-recommend,
.reply-list-wrapper .reply-item-actions > .reply-item-recommend-count,
.reply-list-wrapper .reply-item-actions > .reply-item-write {
	cursor: pointer; /* 커서를 손가락으로 바꾼다. */
}

.reply-list-wrapper .reply-item-actions > .reply-item-write {
	/* flex-grow: 1;
	text-align: right; */
	margin-left: auto;
}	
.reply-writer-wrapper {
	display: flex;
	height: 10rem;
}

.reply-writer-wrapper > button {
	flex-basis: 5rem;
}


/*  form styles */
/* form.write-form: form인데 write-form이 클래스인 것 */

form.modify-form > .grid,
form.write-form > .grid {
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: repeat(2, minmax(1.75rem, auto)) 20rem 1fr;
  row-gap: 0.625rem;
}

form.modify-form #content,
form.write-form #content {
  height: 100%;
}

form.member-regist-form > .grid {
    display: grid;
    grid-template-columns: 8.5rem 1fr;
    grid-template-rows: repeat(4, minmax(1.75rem, auto)) 1fr;
    row-gap: 0.625rem;
}

form .error {
    color: #ff3c34;
    font-size: 0.825rem;
    padding: 0.5rem;
}

/* button group styles */

div.grid > .btn-group {
  grid-column: 1 / -1; /* 한줄을 다 합침 */
}

/* align styles */

.left-align {
    text-align: left;
}

.center-align {
    text-align: center;
}

.right-align {
  text-align: right;
}

/* table grid styles */
table.grid {
    width: 100%;
    border-collapse: collapse;  /* 테이블의 gap을 없앤다.*/
}

table.grid > thead > tr {
    background-color: #FFF;
}

table.grid td,
table.grid th {
    border: 1px solid #EEE;
    padding: 0.625rem;
}

table.grid > tbody > tr:nth-child(odd) {
    background-color: #EEE6;
}

table.grid > tbody > tr:hover {
    background-color: #F001;
}

table.grid > tbody tr.empty {
    text-align: center;
    font-weight: 900;
    color: #CCC;
}

table.grid > tbody tr.empty > td {
    padding: 2rem 0;
}

table.grid > tbody tr.empty:hover {
    background-color: #EEE6;
}
